* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div1 {
  background-color: aqua;
  width: 600px;
  height: 160px;
  box-shadow: 3px 3px 6px palevioletred;
  /* display: inline-block; */
}

.div1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid red;
  margin: 0px auto;
  display: block;
  box-shadow: 2px 2px 5px rgb(20, 17, 17);
}

figcaption {
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-shadow: 3px 3px 5px red;
  float: right;
  margin-top: 10px;
  margin-right: 210px;
  text-transform: uppercase;
}

.div1, 
.web {
  text-align: center;
  
  margin-right: 10px;
  font-size: 10px;
  font-family: sans-serif;
  color: black;
  text-shadow: 2px 2px 5px black;
}

.div2 h3 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: darkslategray;
  display: inline;
  text-shadow: 2px 2px 5px plum;
}

.div2 {
  width: 600px;
  text-align: justify;
  text-align-last: center;
  background-color: lightgray;
  box-shadow: 2px 2px 5px plum;
}

p {
  font-family: sans-serif;
}

footer {
  background-color: #212;
  width: 600px;
  padding: 15px;
}

.div3 {
  display: inline;
  float: left;
}

.Contect {
  color: aquamarine;
  background: black;
  display: inline;
  text-shadow: 2px 2px 6px red
}

.phone {
  color: blue;
  display: inline;
  padding: 5px;
}

.div4 {
  display: inline;
  float: left;
}

.div4 p {
  color: blue;
  padding: 5px;
}

.div4 h3 {
  color: aquamarine;
  background: black;
  display: inline;
  text-shadow: 2px 2px 6px red
}

.div5 h3 {
  color: aquamarine;
  background: black;
  display: inline;
  text-shadow: 2px 2px 6px red
}

.div5 p {
  color: aquamarine;
  padding: 5px;
}